# dependencies
node_modules/

# build folder
.next/

# npm-debug.log
npm-debug.log*

# yarn.lock file
yarn.lock

# environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Next.js export
out/
